<video id="video" #video width="640" height="480" [style.display]="this.selectedBackground ? 'none' : 'block'"></video>
<div [style.display]="!this.selectedBackground ? 'none' : 'block'" [style.backgroundImage]="'url(' + selectedBackground + ''" [style.width]="'640px'">
  <canvas [style.display]="showTestCanvas ? 'none' : 'block'" id="canvasPerson" width="640" height="480"></canvas>
  <canvas [style.display]="!showTestCanvas ? 'none' : 'block'" id="testCanvas" width="640" height="480"></canvas>
</div>
<div>
  <img *ngFor="let src of imageBackgrounds" (click)="selectedBackground = src" [src]="src" style="width: 213px; height: 160px; cursor: pointer">
</div>
<button *ngIf="selectedBackground" (click)="shot()">Shot</button>
<button *ngIf="showTestCanvas" (click)="save()">Save</button>
<button (click)="change()">Change</button>
<!--<div>-->
<!--&lt;!&ndash;  <app-camera (pictureTaken)="handleImage($event)"></app-camera>&ndash;&gt;-->
<!--  <div class="canvas-list">-->
<!--    <canvas *ngFor="let item of imageBackgrounds" [id]="item.id" width="640" height="480" (click)="download(item.id)"></canvas>-->
<!--  </div>-->
<!--</div>-->
