.camera {
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  position: relative;

  &_content {
    display: flex;
    justify-content: center;
    max-height: inherit;
    margin: auto;

    > section {
      width: 75%;

      > video,
      > canvas {
        width: 100%;
      }

      .camera_background {
        background-size: cover;
      }
    }

    > aside {
      display: flex;
      flex-direction: column;
      width: 25%;

      > * {
        cursor: pointer;
      }
    }
  }

  &_background {
    background-size: cover;
  }

  > footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50% );

    .btn {
      width: 150px;
      margin: 12px;
      padding: 12px;
    }
  }

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .loader {
      position: absolute;
      top: calc(50% - 76px);
      left: calc(50% - 76px);
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }

  .btn {
    position: relative;
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;

    &::before, &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: all 0.25s ease;
      border-radius: 20px;
      transition-duration: 0.5s;
      box-shadow: inset 0 0 0 1px #d3d3d3;
    }

    &:hover::before{
      box-shadow: inset 0 0 0 60px #d3d3d3;
    }

    span {
      position: relative;
      font-weight: bold;
    }
  }
}
